{:calls [{:arg-key {:query-string nil,
                    :request-method :get,
                    :server-name "raw.githubusercontent.com",
                    :server-port nil,
                    :uri "/Anabra/gavle/main/XXXX"},
          :return {:body #vcr-clj/input-stream ["NDA0OiBOb3QgRm91bmQ="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Accept-Ranges" "bytes",
                    "Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "14",
                    "Content-Security-Policy" "default-src 'none'; style-src 'unsafe-inline'; sandbox",
                    "Content-Type" "text/plain; charset=utf-8",
                    "Date" "Sat, 27 Aug 2022 10:57:03 GMT",
                    "Expires" "Sat, 27 Aug 2022 11:02:03 GMT",
                    "Source-Age" "0",
                    "Strict-Transport-Security" "max-age=31536000",
                    "Vary" "Authorization,Accept-Encoding,Origin",
                    "Via" "1.1 varnish",
                    "X-Cache" "MISS",
                    "X-Cache-Hits" "0",
                    "X-Content-Type-Options" "nosniff",
                    "X-Fastly-Request-ID" "b826b29eca9f260d15b40e69e1d628fe748125b8",
                    "X-Frame-Options" "deny",
                    "X-GitHub-Request-Id" "2A4E:961A:43ADC1:4880BF:6309F87F",
                    "X-Served-By" "cache-muc13922-MUC",
                    "X-Timer" "S1661597823.335002,VS0,VE174",
                    "X-XSS-Protection" "1; mode=block"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 14,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "Not Found",
                   :repeatable? false,
                   :status 404,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}
         {:arg-key {:query-string nil,
                    :request-method :get,
                    :server-name "raw.githubusercontent.com",
                    :server-port nil,
                    :uri "/Anabra/gavle/main/XXXX"},
          :return {:body #vcr-clj/input-stream ["NDA0OiBOb3QgRm91bmQ="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Accept-Ranges" "bytes",
                    "Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "14",
                    "Content-Security-Policy" "default-src 'none'; style-src 'unsafe-inline'; sandbox",
                    "Content-Type" "text/plain; charset=utf-8",
                    "Date" "Sat, 27 Aug 2022 10:57:03 GMT",
                    "Expires" "Sat, 27 Aug 2022 11:02:03 GMT",
                    "Source-Age" "0",
                    "Strict-Transport-Security" "max-age=31536000",
                    "Vary" "Authorization,Accept-Encoding,Origin",
                    "Via" "1.1 varnish",
                    "X-Cache" "HIT",
                    "X-Cache-Hits" "1",
                    "X-Content-Type-Options" "nosniff",
                    "X-Fastly-Request-ID" "b7187bffee1e0ad0567e35e304d9c3aed617c2b7",
                    "X-Frame-Options" "deny",
                    "X-GitHub-Request-Id" "2A4E:961A:43ADC1:4880BF:6309F87F",
                    "X-Served-By" "cache-muc13933-MUC",
                    "X-Timer" "S1661597824.582763,VS0,VE0",
                    "X-XSS-Protection" "1; mode=block"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 14,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "Not Found",
                   :repeatable? false,
                   :status 404,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}],
 :recorded-at #inst "2022-08-27T10:57:03.170-00:00"}
