{:calls [{:arg-key {:query-string nil,
                    :request-method :get,
                    :server-name "raw.githubusercontent.com",
                    :server-port nil,
                    :uri "/Anabra/gavle/main/XXXX"},
          :return {:body #vcr-clj/input-stream ["NDA0OiBOb3QgRm91bmQ="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Accept-Ranges" "bytes",
                    "Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "14",
                    "Content-Security-Policy" "default-src 'none'; style-src 'unsafe-inline'; sandbox",
                    "Content-Type" "text/plain; charset=utf-8",
                    "Date" "Sat, 27 Aug 2022 11:04:45 GMT",
                    "Expires" "Sat, 27 Aug 2022 11:09:45 GMT",
                    "Source-Age" "0",
                    "Strict-Transport-Security" "max-age=31536000",
                    "Vary" "Authorization,Accept-Encoding,Origin",
                    "Via" "1.1 varnish",
                    "X-Cache" "MISS",
                    "X-Cache-Hits" "0",
                    "X-Content-Type-Options" "nosniff",
                    "X-Fastly-Request-ID" "d8e0921a7e86c5d68beda3fbd6bbae41e7924eb5",
                    "X-Frame-Options" "deny",
                    "X-GitHub-Request-Id" "C312:4571:FB4642:10B1883:6309FA4D",
                    "X-Served-By" "cache-muc13962-MUC",
                    "X-Timer" "S1661598285.466201,VS0,VE151",
                    "X-XSS-Protection" "1; mode=block"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 14,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "Not Found",
                   :repeatable? false,
                   :status 404,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}
         {:arg-key {:query-string nil,
                    :request-method :get,
                    :server-name "raw.githubusercontent.com",
                    :server-port nil,
                    :uri "/Anabra/gavle/main/XXXX"},
          :return {:body #vcr-clj/input-stream ["NDA0OiBOb3QgRm91bmQ="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Accept-Ranges" "bytes",
                    "Access-Control-Allow-Origin" "*",
                    "Connection" "close",
                    "Content-Length" "14",
                    "Content-Security-Policy" "default-src 'none'; style-src 'unsafe-inline'; sandbox",
                    "Content-Type" "text/plain; charset=utf-8",
                    "Date" "Sat, 27 Aug 2022 11:04:45 GMT",
                    "Expires" "Sat, 27 Aug 2022 11:09:45 GMT",
                    "Source-Age" "0",
                    "Strict-Transport-Security" "max-age=31536000",
                    "Vary" "Authorization,Accept-Encoding,Origin",
                    "Via" "1.1 varnish",
                    "X-Cache" "HIT",
                    "X-Cache-Hits" "1",
                    "X-Content-Type-Options" "nosniff",
                    "X-Fastly-Request-ID" "c54dc1c8677e60a72631e44eafcbb423df44698e",
                    "X-Frame-Options" "deny",
                    "X-GitHub-Request-Id" "C312:4571:FB4642:10B1883:6309FA4D",
                    "X-Served-By" "cache-muc13967-MUC",
                    "X-Timer" "S1661598286.685097,VS0,VE0",
                    "X-XSS-Protection" "1; mode=block"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 14,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "Not Found",
                   :repeatable? false,
                   :status 404,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}],
 :recorded-at #inst "2022-08-27T11:04:45.314-00:00"}
